
[[redirects]]
  from = "/api/*"
  to = "https://api.netlify.com/sites/testimoniosud/netlify.app/db/:splat"
  status = 200
  force = true
  headers = { 
    "Access-Control-Allow-Origin" = "*", 
    "Access-Control-Allow-Methods" = "GET, POST, PUT, DELETE, OPTIONS", 
    "Access-Control-Allow-Headers" = "Content-Type, Authorization"
  }
